inst sysReset init=S;	# initialize internal reset

NET "pin_pushbtn" LOC = "p93";
NET "pin_clkin" LOC = "p88";
# Flash RAM chip-enable
NET "pin_ce_n" LOC = "p41";
# vga port connection
NET "pin_red<0>" LOC = "p12";
NET "pin_red<1>" LOC = "p13";
NET "pin_green<0>" LOC = "p19";
NET "pin_green<1>" LOC = "p20";
NET "pin_blue<0>" LOC = "p21";
NET "pin_blue<1>" LOC = "p22";
NET "pin_hsync_n" LOC = "p23";
NET "pin_vsync_n" LOC = "p26";
# SDRAM pin connections
NET "pin_sclkfb" LOC = "p91";
NET "pin_sclk" LOC = "p129";
NET "pin_cke" LOC = "p131";
NET "pin_cs_n" LOC = "p132";
NET "pin_cas_n" LOC = "p126";
NET "pin_ras_n" LOC = "p130";
NET "pin_we_n" LOC = "p123";
NET "pin_ba<0>" LOC = "p134";
NET "pin_ba<1>" LOC = "p137";
# address bus
NET "pin_saddr<0>" LOC = "p141";
NET "pin_saddr<1>" LOC = "p4";
NET "pin_saddr<2>" LOC = "p6";
NET "pin_saddr<3>" LOC = "p10";
NET "pin_saddr<4>" LOC = "p11";
NET "pin_saddr<5>" LOC = "p7";
NET "pin_saddr<6>" LOC = "p5";
NET "pin_saddr<7>" LOC = "p3";
NET "pin_saddr<8>" LOC = "p140";
NET "pin_saddr<9>" LOC = "p138";
NET "pin_saddr<10>" LOC = "p139";
NET "pin_saddr<11>" LOC = "p136";
# data bus
NET "pin_sdata<0>" LOC = "p95";
NET "pin_sdata<1>" LOC = "p99";
NET "pin_sdata<2>" LOC = "p101";
NET "pin_sdata<3>" LOC = "p103";
NET "pin_sdata<4>" LOC = "p113";
NET "pin_sdata<5>" LOC = "p115";
NET "pin_sdata<6>" LOC = "p117";
NET "pin_sdata<7>" LOC = "p120";
NET "pin_sdata<8>" LOC = "p121";
NET "pin_sdata<9>" LOC = "p118";
NET "pin_sdata<10>" LOC = "p116";
NET "pin_sdata<11>" LOC = "p114";
NET "pin_sdata<12>" LOC = "p112";
NET "pin_sdata<13>" LOC = "p102";
NET "pin_sdata<14>" LOC = "p100";
NET "pin_sdata<15>" LOC = "p96";
#
NET "pin_dqmh" LOC = "p124";
NET "pin_dqml" LOC = "p122";
